<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Northwind Products</title>
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		<link href="stylesheets/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div><a href="/">Home</a></div>
			<div><a href="/products">Products</a></div>
		</div>
		<h1>Welcome to the {{title}} page!</h1>
		<div>
			{% block content %}{% endblock %}
		</div>
		<div>
			<p>To get started, please click on the products link above</p>
		</div>
	</body>
</html>
